path:hover {
	fill-opacity: .7;
}
.invis {
	visibility: hidden;
}
.vis {
	visibility: visible;
}
.selected {
	opacity: 1;
}
.deselected {
	opacity: 0.3;
}

#states {
	fill: lightgray;
}
#states .active {
	fill: orange;
}
#wrapper {
	clear:both;
}
#map-section {
	float: left;
}
#data-panel {
	float: left;
}
#data-description {
	text-align: center;
	border-radius: 15px;
	
	padding: 14px 14px 14px 14px;
	background: lightgray;
	overflow-wrap: break-word;
}

#des-title {
	font-weight: bold;
	font-size: 25px;
}

#details {
	text-align: left;
}
#case-title {
	font-weight:bold;
	font-size: 17px;
}