path:hover {
	fill-opacity: .7;
}
#states {
	fill: lightgray;
}
#states .active {
	fill: orange;
}
#wrapper {
	clear:both;
}
#map {
	float: left;
}
#data-description {
	text-align: center;
	border-radius: 15px;
	display: inline-block;
	padding: 8px 12px 8px 12px;
	background: lightgray;
	overflow-wrap: break-word;
}

#des-title {
	font-weight: bold;
	font-size: 24px;
}

#details {
	text-align: left;
}
#case-title {
	font-weight:bold;
	font-size: 17px;
}